html,
body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  h1,
  h2 {
    font-family: 'bentonsansregular' Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: $site-yellow;
  }
  h1 {
    margin: 0 0 1.5rem;
  }
  h2 {
    color: $site-white;
    font-size:0.875rem;
  }
}